<div id="login">

    <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
        <strong>Failed to sign in!</strong> Please check your credentials and try again.
    </div>

    <form (ngSubmit)="login()" [formGroup]="loginForm">

        <h2 class="text-center">Welcome to Sallefy!</h2>

        <p></p>

        <div class="form-group">
            <input type="text" class="form-control" name="username" id="username" placeholder="{{'global.form.username.placeholder' | translate}}"
                   formControlName="username" #username>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                   formControlName="password"/>
        </div>
        <input type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe">
        <span jhiTranslate="login.form.rememberme">Remember me</span>
        <p></p>
        <input type="submit" [value]="'login.form.button' | translate" />
        <p></p>
        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
        <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
    </form>
</div>
