<div class="widget">
    <div class="d-flex justify-content-between inactive-colored-links mb-3">
        <h4>Top Tracks</h4>
        <!--<a class="inactive-color" href="#">View all</a>-->
    </div>
    <div class="img-box-horizontal music-img-box img-box-horizontal-style-2" *ngFor="let track of tracks">
        <div class="img-box img-box-sm box-rounded-sm">
            <img alt="" src="/content/images/hot-song/hot-7.jpg">
        </div>
        <div class="des">
            <h6 class="title">
                <a href="#">{{track.name}}</a>
            </h6>
            <p class="sub-title">
                <a href="#">{{track.id}}</a>
            </p>
        </div>
        <div class="hover-state d-flex justify-content-between align-items-center">
            <span class="pointer play-btn-dark box-rounded-sm"><i class="play-icon"></i></span>
            <div class="d-flex align-items-center">
            <span class="adonis-icon color-active pointer mr-2 icon-2x">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#icon-heart-blank"></use>
                </svg>
            </span>
                <span class="pointer dropdown-menu-toggle">
                <span class="icon-dot-nav-horizontal color-active"></span>
            </span>
            </div>
        </div>
    </div>

</div>
