<div>
    <h2 id="page-heading">
        <span jhiTranslate="sallefyApp.followPlaylist.home.title">Follow Playlists</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-follow-playlist" [routerLink]="['/follow-playlist/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sallefyApp.followPlaylist.home.createLabel">
            Create a new Follow Playlist
            </span>
        </button>
    </h2>
    <sf-alert></sf-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="followPlaylists?.length === 0">
        <span jhiTranslate="sallefyApp.followPlaylist.home.notFound">No followPlaylists found</span>
    </div>
    <div class="table-responsive" *ngIf="followPlaylists?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sallefyApp.followPlaylist.date">Date</span></th>
            <th><span jhiTranslate="sallefyApp.followPlaylist.user">User</span></th>
            <th><span jhiTranslate="sallefyApp.followPlaylist.playlist">Playlist</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let followPlaylist of followPlaylists ;trackBy: trackId">
                <td><a [routerLink]="['/follow-playlist', followPlaylist.id, 'view' ]">{{followPlaylist.id}}</a></td>
                <td>{{followPlaylist.date | date:'medium'}}</td>
                <td>
                    {{followPlaylist.userLogin}}
                </td>
                <td>
                    <div *ngIf="followPlaylist.playlistId">
                        <a [routerLink]="['/playlist', followPlaylist.playlistId , 'view' ]" >{{followPlaylist.playlistName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/follow-playlist', followPlaylist.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/follow-playlist', followPlaylist.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/follow-playlist', { outlets: { popup: followPlaylist.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
