<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="followPlaylist">
            <h2><span jhiTranslate="sallefyApp.followPlaylist.detail.title">Follow Playlist</span> {{followPlaylist.id}}</h2>
            <hr>
            <sf-alert-error></sf-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sallefyApp.followPlaylist.date">Date</span></dt>
                <dd>
                    <span>{{followPlaylist.date}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.followPlaylist.user">User</span></dt>
                <dd>
                    {{followPlaylist.userLogin}}
                </dd>
                <dt><span jhiTranslate="sallefyApp.followPlaylist.playlist">Playlist</span></dt>
                <dd>
                    <div *ngIf="followPlaylist.playlistId">
                        <a [routerLink]="['/playlist', followPlaylist.playlistId, 'view']">{{followPlaylist.playlistName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/follow-playlist', followPlaylist.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
