<ng-template sfWidgets></ng-template>
<!--<div class="widget">
    <sf-genres></sf-genres>
</div>
<div class="widget">
    <sf-artists></sf-artists>
</div>
<div class="widget">
    <sf-top-tracks></sf-top-tracks>
</div>
<div class="widget">
    <h4>Go Moblie</h4>
    <div class="mobile-apps mb-3 mt-4">
        <ul class="list-inline d-inline-flex">
            <li>
                <img alt="" src="/content/images/brand-logo/google-apps.png">
            </li>
        </ul>
    </div>
    <div>
        <label class="mr-4">Language </label>
        <img alt="" src="/content/images/brand-logo/lang-flag.png">
    </div>
</div>-->
