<button (click)="widgetsService.reload('sf-genres')">Reload Genres</button>
<button (click)="widgetsService.reload('sf-artists')">Reload Artists</button>
<div>
    <sf-genres></sf-genres>
    <sf-artists></sf-artists>
    <sf-top-tracks></sf-top-tracks>
    <div class="widget">
        <h4>Go Moblie</h4>
        <div class="mobile-apps mb-3 mt-4">
            <ul class="list-inline d-inline-flex">
                <li>
                    <img alt="" src="/content/images/brand-logo/google-apps.png">
                </li>
            </ul>
        </div>
        <div>
            <label class="mr-4">Language </label>
            <img alt="" src="/content/images/brand-logo/lang-flag.png">
        </div>
    </div>
</div>
