<div class="d-flex justify-content-between inactive-colored-links">
    <h4 class="widget-title">Artistst Follower</h4>
    <a class="mt-2 inactive-color" href="#">View all</a>
</div>
<div class="follower-box-wrap">
    <div class="media img-box-horizontal follower-box">
        <div class="img-box img-box-sm">
            <img alt="" class="rounded-circle" src="/content/images/hot-song/hot-2.jpg">
        </div>
        <div class="des d-flex justify-content-between">
            <div class="clearfix">
                <h5 class="artist">Adam Feek</h5>
                <span class="adonis-icon mr-1 icon-1x"><svg version="1.1"
                                                            xmlns="http://www.w3.org/2000/svg"><use
                    xlink:href="#icon-users"/></svg></span> 459
                <span class="adonis-icon mr-1 ml-3 icon-1x"><svg version="1.1"
                                                                 xmlns="http://www.w3.org/2000/svg"><use
                    xlink:href="#icon-songs-3"/></svg></span> 459
            </div>
            <div class="float-right"><a class="btn btn-outline btn-sm" href="#">Follow</a>
            </div>
        </div>
    </div>
</div>
