<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="track">
            <h2><span jhiTranslate="sallefyApp.track.detail.title">Track</span> {{track.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sallefyApp.track.name">Name</span></dt>
                <dd>
                    <span>{{track.name}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.track.rating">Rating</span></dt>
                <dd>
                    <span>{{track.rating}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.track.url">Url</span></dt>
                <dd>
                    <span>{{track.url}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.track.explicit">Explicit</span></dt>
                <dd>
                    <span>{{track.explicit}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.track.reference">Reference</span></dt>
                <dd>
                    <span>{{track.reference}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.track.duration">Duration</span></dt>
                <dd>
                    <span>{{track.duration}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.track.primaryColor">Primary Color</span></dt>
                <dd>
                    <span>{{track.primaryColor}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/track-sf', track.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
