<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-playback-heading" jhiTranslate="sallefyApp.playback.home.createOrEditLabel">Create or edit a Playback</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sallefyApp.playback.ip" for="field_ip">Ip</label>
                    <input type="text" class="form-control" name="ip" id="field_ip"
                           formControlName="ip"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sallefyApp.playback.latitude" for="field_latitude">Latitude</label>
                    <input type="number" class="form-control" name="latitude" id="field_latitude"
                           formControlName="latitude"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sallefyApp.playback.longitude" for="field_longitude">Longitude</label>
                    <input type="number" class="form-control" name="longitude" id="field_longitude"
                           formControlName="longitude"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sallefyApp.playback.date" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" formControlName="date" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sallefyApp.playback.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option *ngIf="!editForm.get('userId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('userId').invalid && (editForm.get('userId').dirty || editForm.get('userId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('userId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sallefyApp.playback.track" for="field_track">Track</label>
                    <select class="form-control" id="field_track" name="track" formControlName="trackId">
                        <option *ngIf="!editForm.get('trackId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="trackOption.id" *ngFor="let trackOption of tracks; trackBy: trackTrackById">{{trackOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('trackId').invalid && (editForm.get('trackId').dirty || editForm.get('trackId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('trackId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
