<div>
    <h2 id="page-heading">
        <span jhiTranslate="sallefyApp.playback.home.title">Playbacks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-playback" [routerLink]="['/playback/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sallefyApp.playback.home.createLabel">
            Create a new Playback
            </span>
        </button>
    </h2>
    <sf-alert></sf-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="playbacks?.length === 0">
        <span jhiTranslate="sallefyApp.playback.home.notFound">No playbacks found</span>
    </div>
    <div class="table-responsive" *ngIf="playbacks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sallefyApp.playback.ip">Ip</span></th>
            <th><span jhiTranslate="sallefyApp.playback.latitude">Latitude</span></th>
            <th><span jhiTranslate="sallefyApp.playback.longitude">Longitude</span></th>
            <th><span jhiTranslate="sallefyApp.playback.agent">Agent</span></th>
            <th><span jhiTranslate="sallefyApp.playback.date">Date</span></th>
            <th><span jhiTranslate="sallefyApp.playback.user">User</span></th>
            <th><span jhiTranslate="sallefyApp.playback.track">Track</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let playback of playbacks ;trackBy: trackId">
                <td><a [routerLink]="['/playback', playback.id, 'view' ]">{{playback.id}}</a></td>
                <td>{{playback.ip}}</td>
                <td>{{playback.latitude}}</td>
                <td>{{playback.longitude}}</td>
                <td jhiTranslate="{{'sallefyApp.AgentType.' + playback.agent}}">{{playback.agent}}</td>
                <td>{{playback.date | date:'medium'}}</td>
                <td>
                    {{playback.userLogin}}
                </td>
                <td>
                    <div *ngIf="playback.trackId">
                        <a [routerLink]="['/track', playback.trackId , 'view' ]" >{{playback.trackName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/playback', playback.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/playback', playback.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/playback', { outlets: { popup: playback.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
