<owl-carousel-o [options]="customOptions" class="owl-carousel owl-theme-adonis">
    <ng-template carouselSlide *ngFor="let playlist of playlists">
        <div class="item" style="width: 230px; opacity: 1; transform: translateX(0px);">
            <div class="music-img-box">
                <div class="img-box box-rounded-md">
                    <img class="retina" src="/content/images/new-releases/new-releases-1.jpg"
                         data-2x="/content/images/new-releases/new-releases-1@2x.jpg" alt="">
                    <div class="hover-state">
                        <div class="absolute-bottom-left pl-e-20 pb-e-20">
                            <span class="pointer play-btn-dark round-btn"><i class="play-icon"></i></span>
                        </div>
                        <div class="absolute-top-right pr-e-20 pt-e-20">
                            <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg
                                xmlns="http://www.w3.org/2000/svg" version="1.1"><use
                                xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                        </div>
                    </div>
                </div>
                <h6 class="title">
                    <a href="#">{{playlist.name}}</a>
                </h6>
                <p class="sub-title category">
                    <!--<a href="#" *ngFor="let genre of playlist.tracks[0].genres">{{genre.name}}</a>-->
                </p>
            </div>
        </div>
    </ng-template>
</owl-carousel-o>
<div class="d-flex">
    <div class="title-box">
        <h6 class="sub-title inactive-color">New</h6>
        <h2 class="title h3-md">Releases</h2>
    </div>
    <div class="button-right ml-auto ml-auto d-flex align-items-end">
        <a href="#" class="inactive-color mb-4 mr-4 mr-md-0">See all <span class="adonis-icon pl-1 icon-arrow icon-1x"><svg
            xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-see-all-arrow-right"/></svg></span></a>
    </div>
</div>
<div class="adonis-carousel adonis-animate" data-animation="slideRight" data-animation-item=".item" data-dots="yes"
     data-auto-width="yes" data-responsive-width="0:230">
    <div class="gutter-30">
        <div class="owl-carousel owl-theme-adonis">
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img class="retina" src="/content/images/new-releases/new-releases-1.jpg"
                             data-2x="/content/images/new-releases/new-releases-1@2x.jpg" alt="">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                <span class="pointer play-btn-dark round-btn"><i class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg
                                    xmlns="http://www.w3.org/2000/svg" version="1.1"><use
                                    xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                </div>
            </div>
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img class="retina" src="/content/images/new-releases/new-releases-2.jpg"
                             data-2x="/content/images/new-releases/new-releases-2@2x.jpg" alt="">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                <span class="pointer play-btn-dark round-btn"><i class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg
                                    xmlns="http://www.w3.org/2000/svg" version="1.1"><use
                                    xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                </div>
            </div>
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img class="retina" src="/content/images/new-releases/new-releases-3.jpg"
                             data-2x="/content/images/new-releases/new-releases-3@2x.jpg" alt="">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                <span class="pointer play-btn-dark round-btn"><i class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg
                                    xmlns="http://www.w3.org/2000/svg" version="1.1"><use
                                    xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                </div>
            </div>
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img class="retina" src="/content/images/new-releases/new-releases-4.jpg"
                             data-2x="/content/images/new-releases/new-releases-4@2x.jpg" alt="">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                <span class="pointer play-btn-dark round-btn"><i class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg
                                    xmlns="http://www.w3.org/2000/svg" version="1.1"><use
                                    xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                </div>
            </div>
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img class="retina" src="/content/images/new-releases/new-releases-5.jpg"
                             data-2x="/content/images/new-releases/new-releases-5@2x.jpg" alt="">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                <span class="pointer play-btn-dark round-btn"><i class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg
                                    xmlns="http://www.w3.org/2000/svg" version="1.1"><use
                                    xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                </div>
            </div>
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img class="retina" src="/content/images/new-releases/new-releases-6.jpg"
                             data-2x="/content/images/new-releases/new-releases-6@2x.jpg" alt="">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                <span class="pointer play-btn-dark round-btn"><i class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg
                                    xmlns="http://www.w3.org/2000/svg" version="1.1"><use
                                    xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                </div>
            </div>
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img class="retina" src="/content/images/new-releases/new-releases-7.jpg"
                             data-2x="/content/images/new-releases/new-releases-7@2x.jpg" alt="">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                <span class="pointer play-btn-dark round-btn"><i class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg
                                    xmlns="http://www.w3.org/2000/svg" version="1.1"><use
                                    xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                </div>
            </div>
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img class="retina" src="/content/images/new-releases/new-releases-8.jpg"
                             data-2x="/content/images/new-releases/new-releases-8@2x.jpg" alt="">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                <span class="pointer play-btn-dark round-btn"><i class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg
                                    xmlns="http://www.w3.org/2000/svg" version="1.1"><use
                                    xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                </div>

            </div>
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img class="retina" src="/content/images/new-releases/new-releases-9.jpg"
                             data-2x="/content/images/new-releases/new-releases-9@2x.jpg" alt="">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                <span class="pointer play-btn-dark round-btn"><i class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg
                                    xmlns="http://www.w3.org/2000/svg" version="1.1"><use
                                    xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                </div>
            </div>
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img class="retina" src="/content/images/new-releases/new-releases-10.jpg"
                             data-2x="/content/images/new-releases/new-releases-10@2x.jpg" alt="">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                <span class="pointer play-btn-dark round-btn"><i class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg
                                    xmlns="http://www.w3.org/2000/svg" version="1.1"><use
                                    xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                </div>
            </div>
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img class="retina" src="/content/images/new-releases/new-releases-11.jpg"
                             data-2x="/content/images/new-releases/new-releases-11@2x.jpg" alt="">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                <span class="pointer play-btn-dark round-btn"><i class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                <span class="pointer dropdown-menu-toggle"><span class="adonis-icon icon-4x"><svg
                                    xmlns="http://www.w3.org/2000/svg" version="1.1"><use
                                    xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pt-e-20 pt-e-lg-40"></div>
