<div class="d-flex">
    <div class="title-box">
        <h6 class="sub-title inactive-color">Featured</h6>
        <h2 class="title">Playlists</h2>
    </div>
    <div class="button-right ml-auto ml-auto d-flex align-items-end mb-4">
        <a class="inactive-color mr-4 mr-md-0" href="#">See all
            <span class="adonis-icon pl-1 icon-arrow icon-1x">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                                                    <use xlink:href="#icon-see-all-arrow-right"/></svg>
                                            </span>
        </a>
    </div>
</div>
<div class="adonis-carousel">

</div>
<div class="pt-e-20 pt-e-lg-40"></div>
