<div class="d-flex">
    <div class="title-box">
        <h6 class="sub-title inactive-color">New</h6>
        <h2 class="title h3-md">Releases</h2>
    </div>
    <div class="button-right ml-auto ml-auto d-flex align-items-end">
        <a class="inactive-color mr-4 mr-md-0 mb-4" href="#">See all <span
            class="adonis-icon pl-1 icon-arrow icon-1x"><svg version="1.1"
                                                             xmlns="http://www.w3.org/2000/svg"><use
            xlink:href="#icon-see-all-arrow-right"/></svg></span></a>
    </div>
</div>
<div class="adonis-carousel" data-auto-width="yes" data-dots="yes"
     data-responsive-width="0:100%|300:50%|560:33%|820:25%|980:20%|1240:18%">
    <div class="gutter-30">
        <div class="owl-carousel owl-theme-adonis">
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img alt="" class="retina"
                             data-2x="..content/images/new-releases/new-releases-1@2x.jpg"
                             src="/content/images/new-releases/new-releases-1.jpg">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                            class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                            class="adonis-icon icon-4x"><svg
                                                                            version="1.1"
                                                                            xmlns="http://www.w3.org/2000/svg"><use
                                                                            xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem
                        ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music
                        Pop</a></p>
                </div>
            </div>
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img alt="" class="retina"
                             data-2x="..content/images/new-releases/new-releases-2@2x.jpg"
                             src="/content/images/new-releases/new-releases-2.jpg">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                            class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                            class="adonis-icon icon-4x"><svg
                                                                            version="1.1"
                                                                            xmlns="http://www.w3.org/2000/svg"><use
                                                                            xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem
                        ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music
                        Pop</a></p>
                </div>
            </div>
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img alt="" class="retina"
                             data-2x="..content/images/new-releases/new-releases-3@2x.jpg"
                             src="/content/images/new-releases/new-releases-3.jpg">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                            class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                            class="adonis-icon icon-4x"><svg
                                                                            version="1.1"
                                                                            xmlns="http://www.w3.org/2000/svg"><use
                                                                            xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem
                        ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music
                        Pop</a></p>
                </div>
            </div>
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img alt="" class="retina"
                             data-2x="..content/images/new-releases/new-releases-4@2x.jpg"
                             src="/content/images/new-releases/new-releases-4.jpg">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                            class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                            class="adonis-icon icon-4x"><svg
                                                                            version="1.1"
                                                                            xmlns="http://www.w3.org/2000/svg"><use
                                                                            xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem
                        ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music
                        Pop</a></p>
                </div>
            </div>
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img alt="" class="retina"
                             data-2x="..content/images/new-releases/new-releases-5@2x.jpg"
                             src="/content/images/new-releases/new-releases-5.jpg">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                            class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                            class="adonis-icon icon-4x"><svg
                                                                            version="1.1"
                                                                            xmlns="http://www.w3.org/2000/svg"><use
                                                                            xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem
                        ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music
                        Pop</a></p>
                </div>
            </div>
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img alt="" class="retina"
                             data-2x="..content/images/new-releases/new-releases-6@2x.jpg"
                             src="/content/images/new-releases/new-releases-6.jpg">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                            class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                            class="adonis-icon icon-4x"><svg
                                                                            version="1.1"
                                                                            xmlns="http://www.w3.org/2000/svg"><use
                                                                            xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem
                        ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music
                        Pop</a></p>
                </div>
            </div>
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img alt="" class="retina"
                             data-2x="..content/images/new-releases/new-releases-7@2x.jpg"
                             src="/content/images/new-releases/new-releases-7.jpg">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                            class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                            class="adonis-icon icon-4x"><svg
                                                                            version="1.1"
                                                                            xmlns="http://www.w3.org/2000/svg"><use
                                                                            xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem
                        ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music
                        Pop</a></p>
                </div>
            </div>
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img alt="" class="retina"
                             data-2x="..content/images/new-releases/new-releases-8@2x.jpg"
                             src="/content/images/new-releases/new-releases-8.jpg">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                            class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                            class="adonis-icon icon-4x"><svg
                                                                            version="1.1"
                                                                            xmlns="http://www.w3.org/2000/svg"><use
                                                                            xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem
                        ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music
                        Pop</a></p>
                </div>

            </div>
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img alt="" class="retina"
                             data-2x="..content/images/new-releases/new-releases-9@2x.jpg"
                             src="/content/images/new-releases/new-releases-9.jpg">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                            class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                            class="adonis-icon icon-4x"><svg
                                                                            version="1.1"
                                                                            xmlns="http://www.w3.org/2000/svg"><use
                                                                            xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem
                        ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music
                        Pop</a></p>
                </div>
            </div>
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img alt="" class="retina"
                             data-2x="..content/images/new-releases/new-releases-10@2x.jpg"
                             src="/content/images/new-releases/new-releases-10.jpg">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                            class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                            class="adonis-icon icon-4x"><svg
                                                                            version="1.1"
                                                                            xmlns="http://www.w3.org/2000/svg"><use
                                                                            xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem
                        ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music
                        Pop</a></p>
                </div>
            </div>
            <div class="item">
                <div class="music-img-box">
                    <div class="img-box box-rounded-md">
                        <img alt="" class="retina"
                             data-2x="..content/images/new-releases/new-releases-11@2x.jpg"
                             src="/content/images/new-releases/new-releases-11.jpg">
                        <div class="hover-state">
                            <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                            class="play-icon"></i></span>
                            </div>
                            <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                            class="adonis-icon icon-4x"><svg
                                                                            version="1.1"
                                                                            xmlns="http://www.w3.org/2000/svg"><use
                                                                            xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"><a href="#">Vestibulum nibh lorem
                        ipsum</a></h6>
                    <p class="sub-title category"><a href="#">Adonis Music
                        Pop</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
