<div>
    <h2 id="page-heading">
        <span jhiTranslate="sallefyApp.album.home.title">Albums</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-album-sf" [routerLink]="['/album-sf/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sallefyApp.album.home.createLabel">
            Create a new Album
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="albums?.length === 0">
        <span jhiTranslate="sallefyApp.album.home.notFound">No albums found</span>
    </div>
    <div class="table-responsive" *ngIf="albums?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sallefyApp.album.title">Title</span></th>
            <th><span jhiTranslate="sallefyApp.album.reference">Reference</span></th>
            <th><span jhiTranslate="sallefyApp.album.totalTracks">Total Tracks</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let album of albums ;trackBy: trackId">
                <td><a [routerLink]="['/album-sf', album.id, 'view' ]">{{album.id}}</a></td>
                <td>{{album.title}}</td>
                <td>{{album.reference}}</td>
                <td>{{album.totalTracks}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/album-sf', album.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/album-sf', album.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/album-sf', { outlets: { popup: album.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
