<div class="master-container-fluid">
    <div class="row">
        <div class="col-md-9 flex-column-content-md">
            <main id="main">
                <div class="fluid-reverse-r fluid-reverse-md-none">
                    <section>
                        <div class="d-flex">
                            <div class="title-box">
                                <h6 class="sub-title inactive-color">New</h6>
                                <h2 class="title h3-md">Playlists</h2>
                            </div>
                            <div class="button-right ml-auto ml-auto d-flex align-items-end">
                                <a class="inactive-color mb-4 mr-4 mr-md-0" href="#">See all
                                    <span class="adonis-icon pl-1 icon-arrow icon-1x">
                                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                                                <use xlink:href="#icon-see-all-arrow-right"/>
                                            </svg>
                                        </span>
                                </a>
                            </div>
                        </div>
                        <div class="gutter-30">
                            <sf-playlists></sf-playlists>
                        </div>
                    </section>
                    <section>
                        <div class="d-flex flex-row">
                            <div class="title-box">
                                <h6 class="title inactive-color">Hot Track</h6>
                                <h2 class="title h3-md">Hot Songs</h2>
                            </div>
                            <div class="button-right ml-auto ml-auto d-flex align-items-end mb-4">
                                <a class="inactive-color mr-4 mr-md-0" href="#">See all <span
                                    class="adonis-icon pl-1 icon-arrow icon-1x"><svg version="1.1"
                                                                                     xmlns="http://www.w3.org/2000/svg"><use
                                    xlink:href="#icon-see-all-arrow-right"/></svg></span></a>
                            </div>
                        </div>
                        <div class="gutter-30">
                            <sf-tracks></sf-tracks>
                        </div>
                        <div class="pt-e-20 pt-e-lg-40"></div>
                    </section>
                </div>
            </main>
        </div>
        <div class="col-md-3 flex-column-sidebar-md sidebar">
            <div class="widget">
                <sf-genres></sf-genres>
            </div>
            <div class="widget">
                <sf-artists></sf-artists>
            </div>
            <div class="widget">
                <sf-top-tracks></sf-top-tracks>
            </div>
            <div class="widget">
                <h4>Go Moblie</h4>
                <div class="mobile-apps mb-3 mt-4">
                    <ul class="list-inline d-inline-flex">
                        <li>
                            <img alt="" src="/content/images/brand-logo/google-apps.png">
                        </li>
                    </ul>
                </div>
                <div>
                    <label class="mr-4">Language </label>
                    <img alt="" src="/content/images/brand-logo/lang-flag.png">
                </div>
            </div>
            <div class="widget">
                <p class="copyright"> Copyright &copy; 2018 IconikTech. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
