<div class="tabs-content">
    <div class="master-container-fluid">
        <div class="row">
            <div class="col-md-9 flex-column-content-md">
                <main id="main">
                    <div class="tabs-content">
                        <div class="browse-content-overview inactive-hide active fluid-reverse-r fluid-reverse-md-none">
                            <section>
                                <sf-playlists></sf-playlists>
                            </section>
                            <!--<section>
                                <sf-tracks></sf-tracks>
                                <div class="pt-e-20 pt-e-lg-40"></div>
                            </section>
                            <section>
                                <sf-tracks></sf-tracks>
                                <div class="pt-e-20 pt-e-lg-40"></div>
                            </section>
                            <section>
                                <sf-releases></sf-releases>
                                <div class="pt-e-20 pt-e-lg-40"></div>
                            </section>-->
                        </div>
                    </div>
                </main>
            </div>
            <div class="col-md-3 flex-column-sidebar-md sidebar">
                <div class="widget">
                    <sf-genres></sf-genres>
                </div>
                <div class="widget">
                    <sf-artists></sf-artists>
                </div>
                <div class="widget">
                    <sf-top-tracks></sf-top-tracks>
                </div>
                <div class="widget">
                    <h4>Go Moblie</h4>
                    <div class="mobile-apps mb-3 mt-4">
                        <ul class="list-inline d-inline-flex">
                            <li>
                                <img alt="" src="/content/images/brand-logo/google-apps.png">
                            </li>
                        </ul>
                    </div>
                    <div>
                        <label class="mr-4">Language </label>
                        <img alt="" src="/content/images/brand-logo/lang-flag.png">
                    </div>
                </div>
                <div class="widget">
                    <p class="copyright"> Copyright &copy; 2018 IconikTech. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
