/* ==========================================================================
Main page styles
========================================================================== */
@import '~owl.carousel/dist/assets/owl.carousel.min.css';
@import '~owl.carousel/dist/assets/owl.theme.default.min.css';
