<li class="item hover-bg-item">
    <div class="item-number">
        <span class="hover-hide">{{index}}</span>
        <span class="hover-show adonis-icon icon-1x" (click)="play()">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <use xlink:href="#icon-brand-play"></use>
            </svg>
        </span>
    </div>
    <div class="item-title">{{track.name}}</div>
    <div class="item-genre">
            <span class="hover-hide hover-lg-show"><ng-container
                *ngFor="let genre of track.genres">{{genre.name}} </ng-container></span>
    </div>
    <div class="item-duration">
        <span class="hover-hide">{{track.duration}}</span>
    </div>
    <div class="item-tools">
        <span class="hover-hide">1245</span>
        <div class="hover-show d-flex flex-nowrap hover-tools">
                    <span class="adonis-icon icon-1x">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                            <use xlink:href="#icon-heart-blank"></use>
                        </svg>
                    </span>
            <span class="ml-3 adonis-icon icon-3x">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                    </span>
            <span class="ml-3 adonis-icon pointer dropdown-menu-toggle">
                        <span class="adonis-icon icon-4x">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                                <use xlink:href="#icon-horizontal-dots"></use>
                            </svg>
                        </span>
                    </span>
        </div>
    </div>
    <div class="hover-bg gradient-adonis"></div>
</li>
