<div>
    <h2 id="page-heading">
        <span jhiTranslate="sallefyApp.likeTrack.home.title">Like Tracks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-like-track" [routerLink]="['/like-track/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sallefyApp.likeTrack.home.createLabel">
            Create a new Like Track
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="likeTracks?.length === 0">
        <span jhiTranslate="sallefyApp.likeTrack.home.notFound">No likeTracks found</span>
    </div>
    <div class="table-responsive" *ngIf="likeTracks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sallefyApp.likeTrack.liked">Liked</span></th>
            <th><span jhiTranslate="sallefyApp.likeTrack.date">Date</span></th>
            <th><span jhiTranslate="sallefyApp.likeTrack.user">User</span></th>
            <th><span jhiTranslate="sallefyApp.likeTrack.track">Track</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let likeTrack of likeTracks ;trackBy: trackId">
                <td><a [routerLink]="['/like-track', likeTrack.id, 'view' ]">{{likeTrack.id}}</a></td>
                <td>{{likeTrack.liked}}</td>
                <td>{{likeTrack.date | date:'medium'}}</td>
                <td>
                    {{likeTrack.userLogin}}
                </td>
                <td>
                    <div *ngIf="likeTrack.trackId">
                        <a [routerLink]="['/track', likeTrack.trackId , 'view' ]" >{{likeTrack.trackName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/like-track', likeTrack.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/like-track', likeTrack.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/like-track', { outlets: { popup: likeTrack.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
