<div>
    <h2 id="page-heading">
        <span jhiTranslate="sallefyApp.track.home.title">Tracks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-track" [routerLink]="['/track/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sallefyApp.track.home.createLabel">
            Create a new Track
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tracks?.length === 0">
        <span jhiTranslate="sallefyApp.track.home.notFound">No tracks found</span>
    </div>
    <div class="table-responsive" *ngIf="tracks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sallefyApp.track.name">Name</span></th>
            <th><span jhiTranslate="sallefyApp.track.rating">Rating</span></th>
            <th><span jhiTranslate="sallefyApp.track.url">Url</span></th>
            <th><span jhiTranslate="sallefyApp.track.popularity">Popularity</span></th>
            <th><span jhiTranslate="sallefyApp.track.thumbnail">Thumbnail</span></th>
            <th><span jhiTranslate="sallefyApp.track.createdAt">Created At</span></th>
            <th><span jhiTranslate="sallefyApp.track.released">Released</span></th>
            <th><span jhiTranslate="sallefyApp.track.duration">Duration</span></th>
            <th><span jhiTranslate="sallefyApp.track.color">Color</span></th>
            <th><span jhiTranslate="sallefyApp.track.user">User</span></th>
            <th><span jhiTranslate="sallefyApp.track.genre">Genre</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let track of tracks ;trackBy: trackId">
                <td><a [routerLink]="['/track', track.id, 'view' ]">{{track.id}}</a></td>
                <td>{{track.name}}</td>
                <td>{{track.rating}}</td>
                <td>{{track.url}}</td>
                <td>{{track.popularity}}</td>
                <td>{{track.thumbnail}}</td>
                <td>{{track.createdAt | date:'medium'}}</td>
                <td>{{track.released | date:'medium'}}</td>
                <td>{{track.duration}}</td>
                <td>{{track.color}}</td>
                <td>
                    {{track.userLogin}}
                </td>
                <td>
                    <span *ngFor="let genre of track.genres; let last = last">
                            <a class="form-control-static" [routerLink]="['/genre', genre?.id, 'view' ]">{{genre.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/track', track.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/track', track.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/track', { outlets: { popup: track.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
