<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="track">
            <h2><span jhiTranslate="sallefyApp.track.detail.title">Track</span> {{track.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sallefyApp.track.name">Name</span></dt>
                <dd>
                    <span>{{track.name}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.track.rating">Rating</span></dt>
                <dd>
                    <span>{{track.rating}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.track.url">Url</span></dt>
                <dd>
                    <span>{{track.url}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.track.popularity">Popularity</span></dt>
                <dd>
                    <span>{{track.popularity}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.track.thumbnail">Thumbnail</span></dt>
                <dd>
                    <span>{{track.thumbnail}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.track.createdAt">Created At</span></dt>
                <dd>
                    <span>{{track.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.track.duration">Duration</span></dt>
                <dd>
                    <span>{{track.duration}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.track.primaryColor">Primary Color</span></dt>
                <dd>
                    <span>{{track.primaryColor}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.track.user">User</span></dt>
                <dd>
                    {{track.userLogin}}
                </dd>
                <dt><span jhiTranslate="sallefyApp.track.genre">Genre</span></dt>
                <dd>
                    <span *ngFor="let genre of track.genres; let last = last">
                        <a [routerLink]="['/genre', genre?.id, 'view' ]">{{genre.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/track', track.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
