<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="album">
            <h2><span jhiTranslate="sallefyApp.album.detail.title">Album</span> {{album.id}}</h2>
            <hr>
            <sf-alert-error></sf-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sallefyApp.album.title">Title</span></dt>
                <dd>
                    <span>{{album.title}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.album.year">Year</span></dt>
                <dd>
                    <span>{{album.year}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.album.thumbnail">Thumbnail</span></dt>
                <dd>
                    <span>{{album.thumbnail}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.album.totalTracks">Total Tracks</span></dt>
                <dd>
                    <span>{{album.totalTracks}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.album.user">User</span></dt>
                <dd>
                    {{album.userLogin}}
                </dd>
                <dt><span jhiTranslate="sallefyApp.album.track">Track</span></dt>
                <dd>
                    <span *ngFor="let track of album.tracks; let last = last">
                        <a [routerLink]="['/track', track?.id, 'view' ]">{{track.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/album', album.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
