<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-image-sf-heading" jhiTranslate="sallefyApp.image.home.createOrEditLabel">Create or edit a Image</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sallefyApp.image.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                           formControlName="url"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sallefyApp.image.height" for="field_height">Height</label>
                    <input type="number" class="form-control" name="height" id="field_height"
                           formControlName="height"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sallefyApp.image.reference" for="field_reference">Reference</label>
                    <input type="text" class="form-control" name="reference" id="field_reference"
                           formControlName="reference"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sallefyApp.image.thumbnail" for="field_thumbnail">Thumbnail</label>
                    <input type="checkbox" class="form-control" name="thumbnail" id="field_thumbnail"
                           formControlName="thumbnail"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sallefyApp.image.cover" for="field_cover">Cover</label>
                    <input type="checkbox" class="form-control" name="cover" id="field_cover"
                           formControlName="cover"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sallefyApp.image.width" for="field_width">Width</label>
                    <input type="number" class="form-control" name="width" id="field_width"
                           formControlName="width"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sallefyApp.image.album" for="field_album">Album</label>
                    <select class="form-control" id="field_album" name="album" formControlName="albumId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="albumOption.id" *ngFor="let albumOption of albums; trackBy: trackAlbumById">{{albumOption.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sallefyApp.image.artist" for="field_artist">Artist</label>
                    <select class="form-control" id="field_artist" name="artist" formControlName="artistId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="artistOption.id" *ngFor="let artistOption of artists; trackBy: trackArtistById">{{artistOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sallefyApp.image.playlist" for="field_playlist">Playlist</label>
                    <select class="form-control" id="field_playlist" name="playlist" formControlName="playlistId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="playlistOption.id" *ngFor="let playlistOption of playlists; trackBy: trackPlaylistById">{{playlistOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sallefyApp.image.track" for="field_track">Track</label>
                    <select class="form-control" id="field_track" name="track" formControlName="trackId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="trackOption.id" *ngFor="let trackOption of tracks; trackBy: trackTrackById">{{trackOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
