<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="image">
            <h2><span jhiTranslate="sallefyApp.image.detail.title">Image</span> {{image.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sallefyApp.image.url">Url</span></dt>
                <dd>
                    <span>{{image.url}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.image.height">Height</span></dt>
                <dd>
                    <span>{{image.height}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.image.reference">Reference</span></dt>
                <dd>
                    <span>{{image.reference}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.image.thumbnail">Thumbnail</span></dt>
                <dd>
                    <span>{{image.thumbnail}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.image.cover">Cover</span></dt>
                <dd>
                    <span>{{image.cover}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.image.width">Width</span></dt>
                <dd>
                    <span>{{image.width}}</span>
                </dd>
                <dt><span jhiTranslate="sallefyApp.image.album">Album</span></dt>
                <dd>
                    <div *ngIf="image.albumId">
                        <a [routerLink]="['/album-sf', image.albumId, 'view']">{{image.albumTitle}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sallefyApp.image.artist">Artist</span></dt>
                <dd>
                    <div *ngIf="image.artistId">
                        <a [routerLink]="['/artist-sf', image.artistId, 'view']">{{image.artistName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sallefyApp.image.playlist">Playlist</span></dt>
                <dd>
                    <div *ngIf="image.playlistId">
                        <a [routerLink]="['/playlist-sf', image.playlistId, 'view']">{{image.playlistName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sallefyApp.image.track">Track</span></dt>
                <dd>
                    <div *ngIf="image.trackId">
                        <a [routerLink]="['/track-sf', image.trackId, 'view']">{{image.trackName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/image-sf', image.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
